# {{ ansible_managed }}
# ansibleguy.sw_ansible_webui

[Unit]
Description=Ansible WebUI
Requires=network.target
{% if AW_CONFIG.manage.webserver %}Wants=nginx.service{% endif %}

Documentation=https://webui.ansibleguy.net/en/latest/
Documentation=https://github.com/ansibleguy/webui

[Service]
ExecStart=/usr/local/sbin/ansible-webui-start.sh
ExecReload=/bin/kill -HUP $MAINPID
User={{ AW_HC.user }}
Group={{ AW_HC.user }}
Restart=on-failure
RestartSec=10s

Environment=PYTHONUNBUFFERED="1"
Environment=LC_ALL="C.UTF-8"
EnvironmentFile="{{ AW_HC.path.config }}/{{ AW_HC.file.secret }}"

{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=ansible-webui

[Install]
WantedBy=multi-user.target
