# {{ ansible_managed }}
# ansibleguy.sw_ansible_webui

[Unit]
Description=Ansible-WebUI Backup
Documentation=https://github.com/ansibleguy/sw_ansible_webui

[Service]
ExecStart=/usr/local/sbin/ansible-webui-backup.sh

{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=ansible-webui-backup

[Install]
WantedBy=multi-user.target